body {
    margin: 0;
    background-size: cover;
    background-color: #c7c7c7;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header > p {
    text-align: center;
    background: rgb(100, 100, 200);
    border-radius: 10px;
    color: rgb(250, 150, 200);
}


.navbar {
    background-color: #fff;
}
  


/* TEMA OSCURO------------------------------ */

.navbar.dark {
    background-color: #444;
    color: #fff;
}

.card.dark {
    background-color: #444;
    color: #fff;
}

.card-text.dark {
    background-color: #444;
    color: aliceblue;
}

/* TEMA GRIS----------------------------------- */

.navbar.gray {
    background-color: gray;
    color: #000000;
}

.card.gray {
    background-color: gray;
    color: #000000;
}

.card-text.gray {
    background-color: gray;
    color: rgb(0, 0, 0);
}

#manukers-bar {
    background: linear-gradient(to left, rgb(251, 153, 251), rgb(146, 1, 249), rgb(0, 0, 255), green, rgb(223, 223, 160), rgb(228, 190, 119), red);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}

@keyframes animated{
    to{background-position-x: 161px;}
}

@media only screen and (min-width: 900px) {
    /* Add styles here that will only be applied on resolutions above 900px */
    header {
        font-size: 24px;
    }
   .navbar {
        padding: 20px;
    }
   .carousel-inner {
        margin-top: 2rem;
    }
   .modal-content {
        width: 60%;
    }
    #carouselExampleControls {
        margin-left: 10px;
        margin-right: 10px;
    }
}


