body {
    margin: 0;
    background-size: cover;
    background-color: #c7c7c7;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}



/* ================== HEADER =================== */

header {    
    opacity: 0.7;
}

header > p {
    text-align: center;
    background: rgb(90, 90, 232);
    border-radius: 10px;
    color: rgb(250, 150, 200);
}

.navbar {
    background-color: #fff;
}
  
.carousel {
    z-index: -1;
}

/* ================== dark theme =================== */

.navbar.dark {
    background-color: #444;
    color: #fff;
}

.card.dark {
    background-color: #444;
    color: #fff;
}

.card-text.dark {
    background-color: #444;
    color: rgb(0, 0, 0);
}

/* =======================gray theme============================ */

.navbar.gray {
    background-color: gray;
    color: #000000;
}

.card.gray {
    background-color: gray;
    color: #000000;
}

.card-text.gray {
    background-color: gray;
    color: rgb(0, 0, 0);
}


#menu-bar > a {
    font-size: 15px;
}



#manukers-bar {
    background: linear-gradient(to left, violet, indigo, blue, green, rgb(29, 29, 27), rgb(86, 64, 23), red);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}

@keyframes animated{
    to{background-position-x: 161px;}
}
/* ======================BODY====================== */



.carousel-inner {
    margin-top: 1rem;
}

#jsLogoInfo, #htmlLogoInfo, #reactLogoInfo {
    margin: auto;
    padding: auto;
    border-radius: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  

.bootstrapLogo {
    color: rgb(150, 70, 250);
}

  /* The close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.logo.hover {
    /* Estilos para el efecto de hover en los logos */
    transform: scale(1.1);
    opacity: 0.8;
}

.animated.bounce {
    /* Estilos para la animación de texto */
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

    
@media only screen and (min-width: 900px) {
    /* Add styles here that will only be applied on resolutions above 900px */
    header {
        font-size: 24px;
    }
   .navbar {
        padding: 20px;
    }
   .carousel-inner {
        margin-top: 2rem;
    }
   .modal-content {
        width: 60%;
    }
    #carouselExampleControls {
        margin-left: 10px;
        margin-right: 10px;
    }
}